.custom-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 298px; 
    height: 50px;
    padding: 0 25px;
    margin-bottom: 15px;
    
    background-color: #fff;
    border: none; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.custom-button:hover {
    background-color: #40b981;
    box-shadow: 0 6px 15px rgba(64, 185, 129, 0.3);
    transform: translateY(-2px);
}

.button-text {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    
    flex-grow: 1;
    text-align: left; 
    margin-left: 15px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-button:hover .button-text {
    color: white;
}

.button-image img {
    width: 22px;
    height: 22px;
    display: block;
    flex-shrink: 0;
}

.custom-button:hover .button-image img {
    filter: brightness(0) invert(1);
}

.custom-button:last-child {
    margin-bottom: 0;
}