.item-tarea {
    font-family: 'Segoe UI', sans-serif;
    background-color: #CCD0CF;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.item-tarea p:first-of-type {
    margin: 0;
    flex-grow: 1;
    color: #06141B;
    font-weight: 600;
}

.prioridad-tarea {
    margin: 0;
    min-width: fit-content;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #253745;
    background: rgba(255,255,255,0.5);
    padding: 2px 8px;
    border-radius: 5px;
}

.btn-eliminar {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    transition: transform 0.2s;
}

.btn-eliminar:hover {
    transform: scale(1.2);
}

.btn-eliminar img {
    width: 22px;
    height: 22px;
}

.item-tarea button:not(.btn-eliminar) {
    border-radius: 8px;
    border: 1px solid #4A5C6A;
    background-color: #11212D;
    color: #FFFFFF;
    padding: 5px 12px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: 0.3s;
}

.item-tarea button:not(.btn-eliminar):hover {
    background-color: #4A5C6A;
}