.tareas {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
    align-items: center;
}

.tareas h2 {
    width: 100%;
    max-width: 800px;
    font-family: 'Segoe UI', sans-serif;
    color: #06141B;
    font-size: 1.8rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #CCD0CF;
    padding-bottom: 5px;
}