.contenedor-detalle {
    max-width: 450px;
    width: 100%;
    margin: 40px auto;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(6, 20, 27, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CCD0CF;
    font-family: 'Segoe UI', sans-serif;
}

.contenedor-detalle h2 {
    color: #06141B;
    font-size: 1.5rem;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.avatar-detalle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #CCD0CF;
    padding: 10px;
    border: 4px solid #F8F9F9;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.info-detalle {
    text-align: center;
    margin-bottom: 30px;
}

.info-detalle h3 {
    color: #11212D;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.info-detalle p {
    color: #4A5C6A;
    font-size: 1.1rem;
}

.info-detalle p span {
    font-weight: bold;
    color: #253745;
}

.btn-volver-detalle {
    padding: 12px 25px;
    background-color: #11212D;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.btn-volver-detalle:hover {
    background-color: #06141B;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(6, 20, 27, 0.2);
}